{% extends 'base2.html' %}
{% load static %}
{% block content %}
    <!--================Home Banner Area =================-->
    <section class="about_banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>About Us</h2>
                <div class="page_link">
			<a href="{% url 'home' %}">Home</a>
			<a href="{% url 'about' %}">About Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================ Start About Area =================-->
    <section class="about_area section_gap">
      <div class="container">
        <div class="row h_blog_item">
          <div class="col-lg-6">
            <div class="h_blog_img">
		    <img class="img-fluid" src="{% static './img/about.jpg' %}" alt="" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="h_blog_text">
              <div class="h_blog_text_inner left right">
                <h4>Welcome to our Club</h4>
                <p>
		Chess Club NISER, has been active ever since our institute found its new home in the picturesque campus of Jatni. It has been a premier club and aims at spreading CHESS as a culture in the institute and beyond. The club has the ultimate objective of bringing glory to the institute in various competitions and discover some good players which would be the epitome of individual and social development. This club is guided by its motto " Practice and Perseverance". Over the course of time, our club has grown progressively, with the influx of several seasoned campaigners and a good proportion of amateurs and is slowly gaining popularity. So, let’s relive the journey of the club from scratch. We would make the website sufficiently detailed so as to give a clear idea to the viewers about our club activities and the achievements so far !
               </p>
             </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End About Area =================-->
{% endblock content %}
