{% extends 'base2.html' %}
{% load static %}
{% block content %}
<!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>Meet The Team</h2>
                <div class="page_link">
			<a href="{% url 'home' %}">Home</a>
			<a href="{% url 'about' %}">About Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================ Start Meet the Team Area =================-->
    <section class="trainer_area section_gap_top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3">Meet The Team</h2>
              <p>
		Behind every successful club, the crucial point that stands out is the workforce or the members. It’s both a qualitative and quantitative aspect, which is a must. The NISER Chess Fraternity currently has about 15 active participants and about 20 non-active guys ! So, that’s quite good for a university level club. So take a look !
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
        <div class="row justify-content-center d-flex align-items-center">
	{% for member in members %}
          <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
            <div class="thumb d-flex justify-content-sm-center">
		    <img class="img-fluid" src="{% if member.image %}
		    {{member.image.url}}
		    {% else %}
		    {% static './img/default_member.png' %}
		    {% endif %}">
            </div>
            <div class="meta-text text-sm-center">
		    <h4>{{member.name}} , {{member.school}}</h4>
		    <p class="designation">{{member.designation}}</p>
              <div class="mb-4">
		      <p>{{member.description}}</p>
              </div>
              </div>
          </div>
	{% endfor %}
	</div>
    <!--================ End Meet The Team Area =================-->
{% endblock content %}
